{% extends "layout.html" %}

{% block link %}
{% endblock %}

{% block style %}
.modal
{
	overflow: hidden;
}
.modal-dialog{
    margin-right: auto;
    margin-left: auto;
}
{% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>服务操作</h2>
        <ol class="breadcrumb">
            <li>
                <a>资产管理</a>
            </li>
            <li>
                <a>服务管理</a>
            </li>
            <li class="active">
                <strong>服务操作</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
         
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-app" >添加</button>
					<button type="button" class="btn btn-primary" data-toggle="modal" id="create-batch-app" data-url="{{ url_for('asset.app_batch_create') }}" >批量添加</button>						
 					<a type="button" class="btn btn-primary" href="/asset/app_batch_output_data/">批量导出</a>					
					<button type="button" class="btn btn-primary btn-danger btn-app-batch-delete" data-backdrop="false" data-toggle="modal" >批量删除</button>					
					<div class="ibox-tools">
						<a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-app" >
                            <thead>
                                <tr>
									<th class="center">
										<label class="position-relative">
                              				<input type="checkbox" class="ace"/>
											<span class="lbl"></span>
										</label>
									</th>
                                    <th>应用名</th>
									<th>应用说明</th>
									<th>应用端口</th>
                                    <th>公网IP</th>
									<th>内网IP</th>
									<th>基础依赖</th>
                                    <th>所属产品</th>
									<th>运行账户</th>
									<th>负责人</th>
									<th>数据库实例</th>
									<th>所属域名</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block feature %}
{% include "asset/app_add.html" %}
{% include "asset/app_modify.html" %}
{% endblock %}


{% block script %}
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}


{% block js %}
<script>
$(document).ready(function() {
	var table = $('.table-app').DataTable({
		ordering: false,
		lengthMenu: [[10, 25, 50], [10, 20, 50]],
		ajax: "/asset/app_list_data/",
		columns: [
			{"render": function(data, type, row) {
				return 	'<label class="position-relative">' +
						'<input type="checkbox" class="ace" value="'+row['id']+'"/>' +
						'<span class="lbl"></span>' +
						'</label>';}
			},
			{"data": "name"},
			{"data": "name_alias"},
			{"data": "port"},
			{"data": "publish_ip"},
			{"data": "private_ip"},
			{"data": "depend"},
			{"data": "business"},
			{"data": "user"},
			{"data": "owner"},
			{"data": "db_instance"},
			{"data": "domain"},
			{"data": function(row) {
				var elements = [];
				elements.push('<button type="button" class="btn btn-primary btn-app-modify" data-target="#modify-app" data-id="' + row['id'] + '" >修改</button>');
				elements.push('<button type="button" class="btn btn-danger btn-app-delete" data-backdrop="false" data-id="' + + row['id'] + '" >删除</button>');
				return elements.join(' ');}
			}
		]		
	});	
	
	$(document).on('click', 'th input:checkbox', function() {
		var that = this;
		$(this).closest('table').find('tr > td:first-child input:checkbox')
				.each(function() {
						this.checked = that.checked;
						$(this).closest('tr').toggleClass('selected');
				});
	});
	
	$('#app-create').bootstrapValidator({
		message: '值不能为空',
		feedbackIcons: {
			valid: 'glyphicon glyphicon-ok',
			invalid: 'glyphicon glyphicon-remove',
			validating: 'glyphicon glyphicon-refresh'
		},
		<!-- submitButtons: 'button[name="add-app"]', -->
		excluded: [':disabled'],
		fields: {
			name: {
				validators: {
					notEmpty: {
						message: '应用名称为空'
					}
				}
			},
			port: {
				validators: {
					regexp: {
						regexp: /^[0-9]+$/,
						message: '只能包含[0-9]'
                    }
				}
			},
			contact_email: {
				validators: {
					emailAddress: {
						message: '请输入正确的邮件地址如: xxx@xxx.xx'
					}
				}
			},
			db_instance: {
				validators: {
					regexp: {
						regexp: /^[A-Za-z0-9\s]+$/,
						message: '只能包含数字或字母'
                    }
				}
			}
		}   
	});
	
	$("#create-app").draggable({
		handle: ".modal-header"
	});	
	
	$('#create-app').on('show.bs.modal', function (event) {
		if(!event.relatedTarget){return;};
		$('input').val('');
		$('textarea').val('');
		$('#private_ip-create .selectpicker').selectpicker('val', '');
		$('#private_ip-create .selectpicker').selectpicker('refresh');
		$('#publish_ip-create .selectpicker').selectpicker('val', '');
		$('#publish_ip-create .selectpicker').selectpicker('refresh');
		$('#depend-create .selectpicker').selectpicker('val', '');
		$('#depend-create .selectpicker').selectpicker('refresh');
		$('#domain-create .selectpicker').selectpicker('val', '');
		$('#domain-create .selectpicker').selectpicker('refresh');
		$('#business_id-create .selectpicker').selectpicker('val', 0);
		$('#business_id-create .selectpicker').selectpicker('refresh');
		$('#user_id-create .selectpicker').selectpicker('val', 0);
		$('#user_id-create .selectpicker').selectpicker('refresh');
		$('#priority_id-create .selectpicker').selectpicker('val', 0);
		$('#priority_id-create .selectpicker').selectpicker('refresh');
		$('#status-create .selectpicker').selectpicker('val', -1);
		$('#status-create .selectpicker').selectpicker('refresh');
		$('#app-create').bootstrapValidator('resetForm', true);
	});
	
	$('.btn-create-submit').on('click', function() {
		var params = $('.create-form').serializeArray();
		var datas = {
      		data: JSON.stringify({
                "params": params,
            })
		};

		$.post('/asset/app_create/', datas, function(data) {
			if(data['error'] == '') {
				swal({
						title: '添加成功',
						text: '',
						type: "success",
						showCancelButton: false,
						confirmButtonColor: "#DD6B55",
						confirmButtonText: "确定",
						cancelButtonText: "关闭",
						closeOnConfirm: true,
						closeOnCancel: false
					},
					function(isConfirm){
						$('#create-app').modal('hide');
						table.ajax.reload();
						<!-- window.location.href = '/asset/app_list/'; -->
					}
				);
			}
			else {
				swal({
						title: "错误信息",
						text: data['error'],
						type: "error",
						showCancelButton: false,
						confirmButtonColor: "#DD6B55",
						confirmButtonText: "确定",
						cancelButtonText: "关闭",
						closeOnConfirm: true,
						closeOnCancel: false
					},
					function(isConfirm){
					}
				);
			}
		}, 'json');
	});
	
	$('#app-modify').bootstrapValidator({
		message: '值不能为空',
		feedbackIcons: {
			valid: 'glyphicon glyphicon-ok',
			invalid: 'glyphicon glyphicon-remove',
			validating: 'glyphicon glyphicon-refresh'
		},
		<!-- submitButtons: 'button[name="modify-app"]', -->
		excluded: [':disabled'],
		fields: {
			name: {
				validators: {
					notEmpty: {
						message: '应用名称为空'
					}
				}
			},
			port: {
				validators: {
					regexp: {
						regexp: /^[0-9]+$/,
						message: '只能包含[0-9]'
                    }
				}
			},
			contact_email: {
				validators: {
					emailAddress: {
						message: '请输入正确的邮件地址如: xxx@xxx.xx'
					}
				}
			},
			db_instance: {
				validators: {
					regexp: {
						regexp: /^[A-Za-z0-9\s]+$/,
						message: '只能包含数字或字母'
                    }
				}
			}
		}   
	});
	
	$("#modify-app").draggable({
		handle: ".modal-header"
	});	
	
	$('.table-app').on('click', '.btn-app-modify', function() {
		$('#app-modify').bootstrapValidator('resetForm', true);
		var id = $(this).data('id');
		$.post('/asset/app_modify_list/', {'id': id}, function(data) {
			for (var key in data) {
				if(key=='private_ip_ids') {
					$('#private_ip-modify .selectpicker').selectpicker('val', data['private_ip_ids']);
					$('#private_ip-modify .selectpicker').selectpicker('refresh');
				};
				if(key=='publish_ip_ids') {
					$('#publish_ip-modify .selectpicker').selectpicker('val', data['publish_ip_ids']);
					$('#publish_ip-modify .selectpicker').selectpicker('refresh');				
				};
				if(key=='depend_ids') {
					$('#depend-modify .selectpicker').selectpicker('val', data['depend_ids']);
					$('#depend-modify .selectpicker').selectpicker('refresh');	
				};
				if(key=='domain_ids') {
					$('#domain-modify .selectpicker').selectpicker('val', data['domain_ids']);
					$('#domain-modify .selectpicker').selectpicker('refresh');	
				};
				if(key=='business_id') {
					$('#business_id-modify .selectpicker').selectpicker('val', data['business_id']);
					$('#business_id-modify .selectpicker').selectpicker('refresh');
				};
				if(key=='user_id') {
					$('#user_id-modify .selectpicker').selectpicker('val', data['user_id']);
					$('#user_id-modify .selectpicker').selectpicker('refresh');
				};
				if(key=='priority_id') {
					$('#priority_id-modify .selectpicker').selectpicker('val', data['priority_id']);
					$('#priority_id-modify .selectpicker').selectpicker('refresh');
				};
				if(key=='status') {
					$('#status-modify .selectpicker').selectpicker('val', data['status']);
					$('#status-modify .selectpicker').selectpicker('refresh');
				};
				if(key=='contact') {
					$('#contact-modify').val(data[key].join("\n"));
				};
				if(key=='contact_email') {
					$('#contact_email-modify').val(data[key].join("\n"));
				};
				if(key=='db_instance') {
					$('#db_instance-modify').val(data[key].join("\n"));
				};
				if(key=='comment') {
					$('#comment-modify').val(data[key]);
				};
				$('input[name=' + key + ']').val(data[key]);
			}
			$('#modify-app').modal('show');
			}, 'json');
	});
	
	$('.btn-modify-submit').on('click', function() {
		var params = $('.modify-form').serializeArray();
		var datas = {
      		data: JSON.stringify({
                "params": params
            })
		};

		$.post('/asset/app_modify/', datas, function(data) {
			if(data['error'] == '') {
				swal({
						title: '修改成功',
						text: '',
						type: "success",
						showCancelButton: false,
						confirmButtonColor: "#DD6B55",
						confirmButtonText: "确定",
						cancelButtonText: "关闭",
						closeOnConfirm: true,
						closeOnCancel: false
					},
					function(isConfirm){
						$('#modify-app').modal('hide');
						table.ajax.reload();
						<!-- window.location.href = '/asset/app_list/'; -->
					}
				);
			}
			else {
				swal({
						title: "错误信息",
						text: data['error'],
						type: "error",
						showCancelButton: false,
						confirmButtonColor: "#DD6B55",
						confirmButtonText: "确定",
						cancelButtonText: "关闭",
						closeOnConfirm: true,
						closeOnCancel: false
					},
					function(isConfirm){
					}
				);
			}
		}, 'json');
	});


	$('.table-app').on('click','.btn-app-delete',function() {
		var id = $(this).data('id');
		swal({
				title: "确定删除?",
				text: '',
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "确定",
				cancelButtonText: "关闭",
				closeOnConfirm: false,
				closeOnCancel: true
			},
			function(isConfirm){
				if(isConfirm) {
					$.post('/asset/app_delete_data/', {'id': id}, function(data) {
						if(data['error'] == '') {
							swal({
									title: '删除成功',
									text: '',
									type: "success",
									showCancelButton: false,
									confirmButtonColor: "#DD6B55",
									confirmButtonText: "确定",
									cancelButtonText: "关闭",
									closeOnConfirm: true,
									closeOnCancel: false
								},
								function(isConfirm){
									table.ajax.reload();
									// table.api().ajax.reload();
									<!-- window.location.href = '/asset/app_list/'; -->
								}
							);
						}
						else {
							swal({
									title: "错误信息",
									text: data['error'],
									type: "error",
									showCancelButton: false,
									confirmButtonColor: "#DD6B55",
									confirmButtonText: "确定",
									cancelButtonText: "关闭",
									closeOnConfirm: true,
									closeOnCancel: false
								},
								function(isConfirm){
								}
							);
						}
					}, 'json');
				}
			}
		);
    });

	$('.btn-app-batch-delete').on('click', function(event) {
		var ids="";
		$('.table-app').find('tr > td:first-child input:checkbox')
			.each(function () {
				if (this.checked) {
					ids+=$(this).val()+",";  
					}
             });
		if (ids === "") {
			swal({
					title: "错误信息",
					text: "请选择一行数据!",
					type: "error",
					showCancelButton: false,
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "确定",
					cancelButtonText: "关闭",
					closeOnConfirm: true,
					closeOnCancel: false
				},
				function(isConfirm){
				});
		} else {
			ids = ids.substr(0, ids.length - 1);
			swal({
					title: "确定删除?",
					text: '',
					type: "warning",
					showCancelButton: true,
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "确定",
					cancelButtonText: "关闭",
					closeOnConfirm: false,
					closeOnCancel: true
				},
				function(isConfirm){
					if(isConfirm) {
						$.post('/asset/app_batch_delete_data/', {'ids': ids}, function(data) {
							if(data['error'] == '') {
								swal({
										title: '删除成功',
										text: '',
										type: "success",
										showCancelButton: false,
										confirmButtonColor: "#DD6B55",
										confirmButtonText: "确定",
										cancelButtonText: "关闭",
										closeOnConfirm: true,
										closeOnCancel: false
									},
									function(isConfirm){
										table.ajax.reload();
										<!-- window.location.href = '/asset/app_list/'; -->
									}
								);
							}
							else {
								swal({
										title: "错误信息",
										text: data['error'],
										type: "error",
										showCancelButton: false,
										confirmButtonColor: "#DD6B55",
										confirmButtonText: "确定",
										cancelButtonText: "关闭",
										closeOnConfirm: true,
										closeOnCancel: false
									},
									function(isConfirm){
										table.ajax.reload();
										<!-- window.location.href = '/asset/app_list/'; -->
									}
								);
							}
						}, 'json');
					}
				}
			);
		}
	});
	
	$('#create-batch-app').on('click', function() {
		var url = $(this).attr('data-url');
		window.location.href = url;
	});


});
</script>
{% endblock %}

