<div class="modal fade" id="modify-host" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="exampleModalLabel">主机修改</h3>
            </div>
			<form method="post" class="modify-form form-horizontal" id="host-modify" >
				<div class="modal-body">
					<input type="hidden" class="form-control" name="id" value=""/>
                    <div class="hr-line-dashed"></div>
					<div class="form-group"><label class="col-sm-3 control-label">所属机房：</label>
                        <div class="col-sm-8" id="idc_id-modify">
							 <select class="form-control selectpicker show-tick" name="idc_id" data-style="btn-primary" data-live-search="true" data-size="5">
								<option value="0">请选择</option>
								{% for idc in idcs %}
								<option value="{{ idc.id }}">{{ idc.name }}</option>
								{% endfor %}
							</select>
						</div>
						<label class="control-label"><span style="color: red;">*</span></label>							
                    </div>	
                    <div class="hr-line-dashed"></div>					
                    <div class="form-group"><label class="col-sm-3 control-label">主机类型：</label>
                        <div class="col-sm-8" id="host_type_id-modify">
							<select class="form-control selectpicker show-tick" name="host_type_id" data-style="btn-primary" data-live-search="true" data-size="5">
								<option value="0">请选择</option>
								{% for host_type in host_types %}
								<option value="{{ host_type.id }}">{{ host_type.name }}</option>
								{% endfor %}
							</select>
						</div>
						<label class="control-label"><span style="color: red;">*</span></label>								
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-3 control-label">操作系统：</label>
                       <div class="col-sm-8" id="system_id-modify">
							<select class="form-control selectpicker show-tick" name="system_id" data-style="btn-primary" data-live-search="true" data-size="5">
								<option value="0">请选择</option>
								{% for system in systems %}
								<option value="{{ system.id }}">{{ system.name }}</option>
								{% endfor %}
							</select>
						</div>
						<label class="control-label"><span style="color: red;">*</span></label>								
                    </div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Cpu(核)：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="cpu">
						</div>
						<label class="control-label"><span style="color: red;">*</span></label>	
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Memory(G)：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="memory">
						</div>
						<label class="control-label"><span style="color: red;">*</span></label>	
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Disk(G)：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="disk">
						</div>
						<label class="control-label"><span style="color: red;">*</span></label>							
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label">公网IP：</label>
						<div class="col-sm-8">
							<!-- <input type="text" class="form-control" name="publish_ip" /> -->
							<textarea id="modify-publish_ip" class="form-control" cols="3" name="publish_ip" rows="3" placeholder="(多个IP以空格符分隔)"></textarea>
						</div>
						<label class="control-label"></label>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label">内网IP：</label>
						<div class="col-sm-8">
							<!-- <input type="text" class="form-control" name="private_ip" /> -->
							<textarea id="modify-private_ip" class="form-control" cols="3" name="private_ip" rows="3" placeholder="(多个IP以空格符分隔)"></textarea>
						</div>
						<label class="control-label"><span style="color: red;">*</span></label>								
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label">虚拟IP：</label>
						<div class="col-sm-8">
							<!-- <input type="text" class="form-control" name="vip_ip" /> -->
							<textarea id="modify-vip_ip" class="form-control" cols="3" name="vip_ip" rows="3" placeholder="(多个IP以空格符分隔)"></textarea>
						</div>
						<label class="control-label"></label>								
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label">宿主IP：</label>
                        <div class="col-sm-8">
							<input type="text" class="form-control" name="host_ip">
						</div>
						<label class="control-label"></label>
                    </div>
					<div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-3 control-label">所属产品：</label>
                        <div class="col-sm-8" id="business_id-modify">
							<select class="form-control selectpicker show-tick" name="business_id" data-style="btn-primary" data-live-search="true" data-size="5">
								<option value="0">请选择</option>
								{% for business in businesses %}
								<option value="{{ business.id }}">{{ business.name }}</option>
								{% endfor %}
							</select>
						</div>
						<label class="control-label"><span style="color: red;">*</span></label>							
                    </div>
					<div class="hr-line-dashed"></div>
					<div class="form-group"><label class="col-sm-3 control-label">所属环境：</label>
                        <div class="col-sm-8" id="env_id-modify">
							 <select class="form-control selectpicker show-tick" name="env_id" data-style="btn-primary" data-live-search="true" data-size="5">
								<option value="0">请选择</option>
								{% for env in envs %}
								<option value="{{ env.id }}">{{ env.name }}</option>
								{% endfor %}
							</select>
						</div>
						<label class="control-label"><span style="color: red;">*</span></label>							
                    </div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label">负责人：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="owner">
						</div>						
					</div>
					<div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-3 control-label">主机状态：</label>
                        <div class="col-sm-8" id="status-modify">
							<select class="form-control selectpicker show-tick" name="status" data-style="btn-primary" data-live-search="true" data-size="5">
								<option value="-1">请选择</option>
								<option value="0">使用</option>
								<option value="1">维护</option>
								<option value="2">空闲</option>
							</select>
						</div>
						<label class="control-label"><span style="color: red;">*</span></label>								
                    </div>
                    <div class="hr-line-dashed"></div>
					<div class="form-group"><label class="col-sm-3 control-label">备注：</label>
                        <div class="col-sm-8">
							<textarea id="modify-comment" class="form-control" cols="3" name="comment" rows="3"></textarea>
						</div>
                    </div>
                    <div class="hr-line-dashed"></div>					
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">关闭</button>
					<button name="modify-host" type="button" class="btn btn-primary btn-modify-submit">修改</button>
				</div>
			</form>
        </div>
    </div>
</div>