{% extends "layout.html" %}

{% block link %}
{% endblock %}

{% block style %}
.modal
{
    overflow: hidden;
}
.modal-dialog{
    margin-right: auto;
    margin-left: auto;
}
{% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>主机操作</h2>
        <ol class="breadcrumb">
            <li>
                <a>资产管理</a>
            </li>
            <li>
                <a>主机管理</a>
            </li>
            <li class="active">
                <strong>主机操作</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
         
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-host">添加</button>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-auto-host">批量添加</button>
 					<a type="button" class="btn btn-primary" href="/asset/host_batch_output_data/">批量导出</a>
					<button type="button" class="btn btn-primary btn-danger btn-host-batch-delete" data-backdrop="false" data-toggle="modal">批量删除</button>
                   <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-host" >
                            <thead>
                                <tr>
									<th class="center">
										<label class="position-relative">
                              				<input type="checkbox" class="ace"/>
											<span class="lbl"></span>
										</label>
									</th>
									<th>所属机房</th>
									<th>主机类型</th>
									<th>操作系统</th>
                                    <th>CPU(核)</th>
									<th>MEM(G)</th>
									<th>DISK(G)</th>
									<th>公网IP</th>
									<th>内网IP</th>
									<th>虚拟IP</th>
									<th>宿主IP</th>
									<th>所属产品</th>
									<th>所属环境</th>
									<th>负责人</th>
									<th>状态</th>
									<th>备注</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block feature %}
{% include "asset/host_add.html" %}
{% include "asset/host_auto_add.html" %}
{% include "asset/host_modify.html" %}
{% endblock %}


{% block script %}
{% endblock %}


{% block js %}
<script>
$(document).ready(function() {
	var table = $('.table-host').DataTable({
		ordering: false,
		"lengthMenu": [[10, 20, 40], [10, 20, 40]],
		ajax: "/asset/host_list_data/",
		columns: [
			{"render": function(data, type, row) {
				return 	'<label class="position-relative">' +
						'<input type="checkbox" class="ace" value="'+row['id']+'"/>' +
						'<span class="lbl"></span>' +
						'</label>';}
			},
			{"data": "idc"},
			{"data": "host_type"},
			{"data": "system"},
			{"data": "cpu"},
			{"data": "memory"},
			{"data": "disk"},
			{"data": "publish_ip"},
			{"data": "private_ip"},
			{"data": "vip_ip"},
			{"data": "host_ip"},
			{"data": "business"},
			{"data": "env"},
			{"data": "owner"},
			{"data": function(row){
				if (row['status'] == 0) {
					return '使用';
				} else if (row['status'] == 1) {
					return '维护';
				} else {
					return '空闲';
				}
			}},
			{"data": "comment"},
			{"data": function(row) {
				var elements = [];
				elements.push('<button type="button" class="btn btn-primary btn-host-modify" data-target="#modify-host" data-id="' + row['id'] + '" >修改</button>');
				elements.push('<button type="button" class="btn btn-danger btn-host-delete" data-backdrop="false" data-id="' + + row['id'] + '" >删除</button>');
				return elements.join(' ');}
			}
		]		
	});	

	$(document).on('click', 'th input:checkbox', function() {
		var that = this;
		$(this).closest('table').find('tr > td:first-child input:checkbox')
				.each(function() {
					this.checked = that.checked;
					$(this).closest('tr').toggleClass('selected');
				});
	});
	
	$('#host-auto-create').bootstrapValidator({
		message: '值不能为空',
		feedbackIcons: {
			valid: 'glyphicon glyphicon-ok',
			invalid: 'glyphicon glyphicon-remove',
			validating: 'glyphicon glyphicon-refresh'
		},
		<!-- submitButtons: 'button[name="auto-add-host"]', -->
		excluded: [':disabled'],
		fields: {
			auto_ip: {
				validators: {
					regexp: {
						regexp: /^[0-9\.\s]+$/,
						message: '仅能包含[0-9.]'
                    }
				}
			}
		}
	});
	
	$('#host-create').bootstrapValidator({
		message: '值不能为空',
		feedbackIcons: {
			valid: 'glyphicon glyphicon-ok',
			invalid: 'glyphicon glyphicon-remove',
			validating: 'glyphicon glyphicon-refresh'
		},
		<!-- submitButtons: 'button[name="add-host"]', -->
		excluded: [':disabled'],
		fields: {
			publish_ip: {
				validators: {
					regexp: {
						regexp: /^[0-9\.\s]+$/,
						message: '公网IP只能包含[0-9.]'
                    }
				}
			},
			private_ip: {
				validators: {
					notEmpty: {
						message: '内网IP为空'
					},
					regexp: {
						regexp: /^[0-9\.\s]+$/,
						message: '内网IP只能包含[0-9.]'
                    }
				}
			},
			vip_ip: {
				validators: {
					regexp: {
						regexp: /^[0-9\.\s]+$/,
						message: '虚拟IP只能包含[0-9.]'
                    }
				}
			},
			host_ip: {
				validators: {
					regexp: {
						regexp: /^[0-9\.]+$/,
						message: '宿主IP只能包含[0-9.]'
                    }
				}
			}
		}   
	});
			
	$('#host-modify').bootstrapValidator({
		message: '值不能为空',
		feedbackIcons: {
			valid: 'glyphicon glyphicon-ok',
			invalid: 'glyphicon glyphicon-remove',
			validating: 'glyphicon glyphicon-refresh'
		},
		<!-- submitButtons: 'button[name="modify-host"]',	 -->
		excluded: [':disabled'],
		fields: {
			publish_ip: {
				validators: {
					regexp: {
						regexp: /^[0-9\.\s]+$/,
						message: '公网IP只能包含[0-9.]'
                    }
				}
			},
			private_ip: {
				validators: {
					notEmpty: {
						message: '内网IP为空'
					},
					regexp: {
						regexp: /^[0-9\.\s]+$/,
						message: '内网IP只能包含[0-9.]'
                    }
				}
			},
			vip_ip: {
				validators: {
					regexp: {
						regexp: /^[0-9\.\s]+$/,
						message: '虚拟IP只能包含[0-9.]'
                    }
				}
			},
			host_ip: {
				validators: {
					regexp: {
						regexp: /^[0-9\.]+$/,
						message: '宿主IP只能包含[0-9.]'
                    }
				}
			}
		}   
	});	
	
	$("#create-auto-host").draggable({
		handle: ".modal-header"
	});	
	
	$('#create-auto-host').on('show.bs.modal', function (event) {
		if(!event.relatedTarget){return;}
		$("#auto_ip").val('');
		$('#business_id-auto-create .selectpicker').selectpicker('val', 0);
		$('#business_id-auto-create .selectpicker').selectpicker('refresh');
		$('#status-auto-create .selectpicker').selectpicker('val', -1);
		$('#status-auto-create .selectpicker').selectpicker('refresh');
		$('#create-auto-host').bootstrapValidator('resetForm', true);
	});
	
	$('.btn-create-auto-submit').on('click', function() {
		var params = $('.create-auto-form').serializeArray();
		$.post('/asset/host_auto_create/', params, function(data) {
			if(data['error'] == '') {
				swal({
						title: '添加成功',
						text: data['message'],
						type: "success",
						showCancelButton: false,
						confirmButtonColor: "#DD6B55",
						confirmButtonText: "确定",
						cancelButtonText: "关闭",
						closeOnConfirm: true,
						closeOnCancel: false
					},
					function(isConfirm){
						$('#create-auto-host').modal('hide');
						table.ajax.reload();
						<!-- window.location.href = '/asset/host_list/'; -->
					}
				);
			}
			else {
				swal({
						title: "错误信息",
						text: data['error'],
						type: "error",
						showCancelButton: false,
						confirmButtonColor: "#DD6B55",
						confirmButtonText: "确定",
						cancelButtonText: "关闭",
						closeOnConfirm: true,
						closeOnCancel: false
					},
					function(isConfirm){
						if(data['ret'] == 1) {
							$('#create-auto-host').modal('hide');
							table.ajax.reload();
							<!-- window.location.href = '/asset/host_list/'; -->
						}
					}
				);
			}
		}, 'json');
	});
	
	$("#create-host").draggable({
		handle: ".modal-header"
	});
	
	$('#create-host').on('show.bs.modal', function (event) {
		if(!event.relatedTarget){return;}
		$('input').val('');
		$('textarea').val('');
		$('#idc_id-create .selectpicker').selectpicker('val', 0);
		$('#idc_id-create .selectpicker').selectpicker('refresh');
		$('#host_type_id-create .selectpicker').selectpicker('val', 0);
		$('#host_type_id-create .selectpicker').selectpicker('refresh');
		$('#system_id-create .selectpicker').selectpicker('val', 0);
		$('#system_id-create .selectpicker').selectpicker('refresh');
		$('#business_id-create .selectpicker').selectpicker('val', 0);
		$('#business_id-create .selectpicker').selectpicker('refresh');
		$('#env_id-create .selectpicker').selectpicker('val', 0);
		$('#env_id-create .selectpicker').selectpicker('refresh');
		$('#status-create .selectpicker').selectpicker('val', -1);
		$('#status-create .selectpicker').selectpicker('refresh');
		$('#host-create').bootstrapValidator('resetForm', true);
	});
	
	$('.btn-create-submit').on('click', function() {
		var params = $('.create-form').serializeArray();
		$.post('/asset/host_create/', params, function(data) {
			if(data['error'] == '') {
				swal({
						title: '添加成功',
						text: '',
						type: "success",
						showCancelButton: false,
						confirmButtonColor: "#DD6B55",
						confirmButtonText: "确定",
						cancelButtonText: "关闭",
						closeOnConfirm: true,
						closeOnCancel: false
					},
					function(isConfirm){
						$('#create-host').modal('hide');
						table.ajax.reload();
						<!-- window.location.href = '/asset/host_list/'; -->
					}
				);
			}
			else {
				swal({
						title: "错误信息",
						text: data['error'],
						type: "error",
						showCancelButton: false,
						confirmButtonColor: "#DD6B55",
						confirmButtonText: "确定",
						cancelButtonText: "关闭",
						closeOnConfirm: true,
						closeOnCancel: false
					},
					function(isConfirm){
					}
				);
			}
		}, 'json');
	});
	
	$("#modify-host").draggable({
		handle: ".modal-header"
	});	
	
	$('.table-host').on('click', '.btn-host-modify', function() {
		$('#host-modify').bootstrapValidator('resetForm', true);
		var id = $(this).data('id');
		$.post('/asset/host_modify_list/', {'id': id}, function(data) {
			for (var key in data) {
				if(key=='host_type_id') {
					$('#host_type_id-modify .selectpicker').selectpicker('val', data['host_type_id']);
					$('#host_type_id-modify .selectpicker').selectpicker('refresh');
				};
				if(key=='system_id') {
					$('#system_id-modify .selectpicker').selectpicker('val', data['system_id']);
					$('#system_id-modify .selectpicker').selectpicker('refresh');
				};
				if(key=='idc_id') {
					$('#idc_id-modify .selectpicker').selectpicker('val', data['idc_id']);
					$('#idc_id-modify .selectpicker').selectpicker('refresh');
				};
				if(key=='env_id') {
					$('#env_id-modify .selectpicker').selectpicker('val', data['env_id']);
					$('#env_id-modify .selectpicker').selectpicker('refresh');
				};
				if(key=='business_id') {
					$('#business_id-modify .selectpicker').selectpicker('val', data['business_id']);
					$('#business_id-modify .selectpicker').selectpicker('refresh');
				};
				if(key=='status') {
					$('#status-modify .selectpicker').selectpicker('val', data['status']);
					$('#status-modify .selectpicker').selectpicker('refresh');
				};
				if(key=='comment') {
					$('#modify-comment').val(data[key]);
				};
				// if(key=='cpu'|key=='memory'|key=='disk') {
				//	$('#'+key+'-modify').slider('setValue', data[key]);
				//	$('#'+key+'-modify-value').text(data[key]);
				// };
				if(key=='private_ip'|key=='publish_ip'|key=='vip_ip') {
					$('#modify-'+key).val(data[key].join('\n'));
				};
				$('input[name=' + key + ']').val(data[key]);
			}
			$('#modify-host').modal('show');
			}, 'json');
	});
	
	$('.btn-modify-submit').on('click', function() {
		var params = $('.modify-form').serializeArray();
		$.post('/asset/host_modify/', params, function(data) {
			if(data['error'] == '') {
				swal({
						title: '修改成功',
						text: '',
						type: "success",
						showCancelButton: false,
						confirmButtonColor: "#DD6B55",
						confirmButtonText: "确定",
						cancelButtonText: "关闭",
						closeOnConfirm: true,
						closeOnCancel: false
					},
					function(isConfirm){
						$('#modify-host').modal('hide');
						table.ajax.reload();
						<!-- window.location.href = '/asset/host_list/'; -->
					}
				);
			}
			else {
				swal({
						title: "错误信息",
						text: data['error'],
						type: "error",
						showCancelButton: false,
						confirmButtonColor: "#DD6B55",
						confirmButtonText: "确定",
						cancelButtonText: "关闭",
						closeOnConfirm: true,
						closeOnCancel: false
					},
					function(isConfirm){
					}
				);
			}
		}, 'json');
	});
	
	$('.table-host').on('click','.btn-host-delete',function() {
		var id = $(this).data('id');
		swal({
				title: "确定删除?",
				text: '',
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "确定",
				cancelButtonText: "关闭",
				closeOnConfirm: false,
				closeOnCancel: true
			},
			function(isConfirm){
				if(isConfirm) {
					$.post('/asset/host_delete_data/', {'id': id}, function(data) {
						if(data['error'] == '') {
							swal({
									title: '删除成功',
									text: '',
									type: "success",
									showCancelButton: false,
									confirmButtonColor: "#DD6B55",
									confirmButtonText: "确定",
									cancelButtonText: "关闭",
									closeOnConfirm: true,
									closeOnCancel: false
								},
								function(isConfirm){
									table.ajax.reload();
									<!-- window.location.href = '/asset/host_list/'; -->
								}
							);
						}
						else {
							swal({
									title: "错误信息",
									text: data['error'],
									type: "error",
									showCancelButton: false,
									confirmButtonColor: "#DD6B55",
									confirmButtonText: "确定",
									cancelButtonText: "关闭",
									closeOnConfirm: true,
									closeOnCancel: false
								},
								function(isConfirm){
								}
							);
						}
					}, 'json');
				}
			}
		);
    });
		
	
	$('.btn-host-batch-delete').on('click', function(event) {
		var ids="";
		$('.table-host').find('tr > td:first-child input:checkbox')
			.each(function () {
				if (this.checked) {
					ids+=$(this).val()+",";  
					}
             });
		if (ids === "") {
			swal({
					title: "错误信息",
					text: "请选择一行数据!",
					type: "error",
					showCancelButton: false,
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "确定",
					cancelButtonText: "关闭",
					closeOnConfirm: true,
					closeOnCancel: false
				},
				function(isConfirm){
				});
		} else {
			ids = ids.substr(0, ids.length - 1);
			swal({
					title: "确定删除?",
					text: '',
					type: "warning",
					showCancelButton: true,
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "确定",
					cancelButtonText: "关闭",
					closeOnConfirm: false,
					closeOnCancel: true
				},
				function(isConfirm){
					if(isConfirm) {
						$.post('/asset/host_batch_delete_data/', {'ids': ids}, function(data) {
							if(data['error'] == '') {
								swal({
										title: '删除成功',
										text: '',
										type: "success",
										showCancelButton: false,
										confirmButtonColor: "#DD6B55",
										confirmButtonText: "确定",
										cancelButtonText: "关闭",
										closeOnConfirm: true,
										closeOnCancel: false
									},
									function(isConfirm){
										table.ajax.reload();
										<!-- window.location.href = '/asset/host_list/'; -->
									}
								);
							}
							else {
								swal({
										title: "错误信息",
										text: data['error'],
										type: "error",
										showCancelButton: false,
										confirmButtonColor: "#DD6B55",
										confirmButtonText: "确定",
										cancelButtonText: "关闭",
										closeOnConfirm: true,
										closeOnCancel: false
									},
									function(isConfirm){
										table.ajax.reload();
										<!-- window.location.href = '/asset/host_list/'; -->
									}
								);
							}
						}, 'json');
					}
				}
			);
		}
	});


});
</script>
{% endblock %}