{% extends "layout.html" %}

{% block link %}
<link href="{{ url_for('static', filename='bootstrapvalidator-0.4.5/dist/css/bootstrapValidator.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>密码修改</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                
                <div>
                    {% if error %}
                    <p class="bg-primary bg-danger">{{ error }}</p>
                    {% endif %}
                </div>
                
                <div class="ibox-content">
                    <form id="update-passwd" method="post" class="form-horizontal">
                        <div class="form-group"><label class="col-sm-2 control-label">老密码</label>
                            <div class="col-sm-10"><input type="password" class="form-control" name="password_old" value="{{ password_old }}"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">新密码</label>
                            <div class="col-sm-10"><input type="password" class="form-control" name="password_new" value="{{ password_new }}"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">确认密码</label>
                            <div class="col-sm-10"><input type="password" class="form-control" name="password_repeat_new" value="{{ password_repeat_new }}"></div>
                        </div>                      
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-2 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='bootstrapvalidator-0.4.5/dist/js/bootstrapValidator.min.js') }}"></script>
{% endblock %}  

{% block js %}
<script>
$('#update-passwd').bootstrapValidator({
    message: '值不能为空',
    feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
    },
    fields: {
        password_old: {
            message:'密码无效',
            validators: {
                notEmpty: {
                    message: '密码不能为空'
                },
                stringLength: {
                    min: 6,
                    message: '密码长度至少大于6位'
                }
            }
        },
        password_new: {
            message:'密码无效',
            validators: {
                notEmpty: {
                    message: '密码不能为空'
                },
                stringLength: {
                    min: 6,
                    message: '密码长度至少大于6位'
                },
                different: {
                    field: 'password_old',
                    message: '不能和原密码相同'
                }
            }               
        },
        password_repeat_new: {
            message:'密码无效',
            validators: {
                notEmpty: {
                    message: '密码不能为空'
                },
                stringLength: {
                    min: 6,
                    message: '密码长度至少大于6位'
                },
                identical: {
                     field: 'password_new', 
                     message: '两次密码不一致'
                }
            }               
        }
    }   
});
</script>
{% endblock %}


